<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>组件 - vue.js</title>
	<script src="../script/vue.js"></script>
</head>
<body>
	<h2>
		<a href="http://cn.vuejs.org/v2/guide/components.html" target="_blank">组件</a>
	</h2>

	<h3>使用组件</h3>

	<h4>注册</h4>
	<div id="app1">
		<my-component></my-component>
	</div>

	<h4>局部注册</h4>
	<div id="app2">
		<my-component></my-component>
	</div>

	<h4>DOM模板解析说明</h4>
	<div id="app3">
		<table>
			<my-row></my-row>
			<tr is="my-row"></tr>
		</table>
	</div>

	<h4>data必须是函数</h4>
	<div id="app4">
		<my-component></my-component>
	</div>

	<h4>构成组件</h4>
	<p>
		在Vue.js中，父子组件的关系可以总结为props down、events up。父组件通过props向下传递数据给子组件，子组件通过events给父组件发送消息
	</p>
	<img src="../images/props-events.png" alt="Vue.js中父子组件的关系" style="width: 200px;">

	<h3>Props</h3>

	<h4>使用Props传递数据</h4>
	<div id="app5">
		<child message="信息来源于父组件"></child>
	</div>

	<h4>camelCase vs.kebab-case</h4>
	<p>当使用非字符串模板时，prop的名字形式会从camelCase转为kebab-case(短横线隔开)</p>

	<h4>动态Props</h4>
	<div id="app6">
		<input type="text" v-model="parentMsg">
		<br>
		<child v-bind:message="parentMsg"></child>
	</div>

	<h4>字面量语法 vs 动态语法</h4>
	<p>
		如果想传递一个实际的 JavaScript 数字，需要使用 v-bind ，从而让它的值被当作 JavaScript 表达式计算
	</p>

	<h4>单向数据流</h4>
	<p>两种改变prop的情况：</p>
	<p>1.定义一个局部data属性，并将prop的初始值作为局部数据的初始值</p>
	<p>2.定义一个computed属性，此属性从prop的值计算得出</p>

	<h4>Prop验证</h4>
	<div id="app7">
		<input type="number" v-model="parentMsg">
		<br>
		<child v-bind:message="parentMsg"></child>
	</div>

	<h3>自定义事件</h3>

	<h4>使用v-on绑定自定义事件</h4>
	<div id="app8">
		<p>{{ total }}</p>
		<button-counter @increment="incrementTotal"></button-counter>
		<button-counter @increment="incrementTotal"></button-counter>
	</div>

	<h4>使用自定义事件的表单输入组件</h4>
	<div id="app9">
		<p>一个非常简单的货币输入：</p>
		<currency-input v-model="price"></currency-input>
	</div>
	<script>
		Vue.component("my-component",{
			template:"<div>A custom component!</div>"
		})
		var app1=new Vue({
			el:"#app1"
		})
		var app2Com={
			template:"<div>A custom component!</div>"
		};
		var app2=new Vue({
			el:"#app2",
			components:{
				"my-component":app2Com
			}
		})
		var app3Com={
			template:"<div>A custom component!</div>"
		};
		var app3=new Vue({
			el:"#app3",
			components:{
				"my-row":app3Com
			}
		})
		var app4Com={
			template:"<span>{{message}}</span>",
			data:function(){
				return {"message":"Hello"};
			}
		}
		var app4=new Vue({
			el:"#app4",
			components:{
				"my-component":app4Com
			}
		})
		var app5Com={
			props:["message"],
			template:"<span>{{message}}</span>"
		}
		var app5=new Vue({
			el:"#app5",
			components:{
				"child":app5Com
			}
		})
		var app6Com={
			props:["message"],
			template:"<span>{{message}}</span>"
		}
		var app6=new Vue({
			el:"#app6",
			data:{
				"parentMsg":""
			},
			components:{
				"child":app6Com
			}			
		})
		var app7Com={
			props:{
				message:Number
			},
			template:"<span>{{message}}</span>"
		}
		var app7=new Vue({
			el:"#app7",
			data:{
				"parentMsg":0
			},
			components:{
				"child":app7Com
			}			
		})
		var app8Com={
			template:"<button @click='increment'>{{ counter }}</button>",
			data:function(){
				return{
					counter:0
				}
			},
			methods:{
				increment:function(){
					this.counter += 1;
					this.$emit("increment");
				}
			}
		}
		var app8=new Vue({
			el:"#app8",
			data:{
				total:0
			},
			methods:{
				incrementTotal:function(){
					this.total+=1;
				}
			},
			components:{
				"button-counter":app8Com
			}
		})
		var app9Com={
			template:"<span>￥<input ref='input' :value='value' @input='updateValue($event.target.value)'/></span>",
			props:["value"],
			methods:{
				updateValue: function (value) {
      var formattedValue = value
        .trim()
        .slice(0, value.indexOf('.') + 3)
      if (formattedValue !== value) {
        this.$refs.input.value = formattedValue
      }
      this.$emit('input', Number(formattedValue))
    }
			}
		}
		var app9=new Vue({
			el:"#app9",
			components:{
				"currency-input":app9Com
			}
		})
	</script>
</body>
</html>