<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>列表渲染 - vue.js</title>
	<script src="../script/vue.js"></script>
</head>
<body>
	<h2>
		<a href="http://cn.vuejs.org/v2/guide/list.html" target="_blank">列表渲染</a>
	</h2>

	<h3>v-for</h3>
	
	<h4>基本用法</h4>
	<ul id="app1">
		<li v-for="(item,index) in items">{{paramentMessage}}-{{index}}-{{item.message}}</li>
	</ul>

	<h4>Template v-for</h4>
	<ul id="app2">
		<template v-for="item in items">
			<li>{{item.message}}</li>
			<li>可以使用带有v-for的template标签来渲染多个元素块</li>
		</template>
	</ul>

	<h4>对象迭代 v-for</h4>
	<ul id="app3">
		<li v-for="value in object">{{value}}</li>
	</ul>

	<h4>整数迭代 v-for</h4>
	<div id="app4">
		<span v-for="n in 10"> {{n}} </span>
	</div>
	
	<h4><a href="http://cn.vuejs.org/v2/guide/components.html" target="_blank">组件</a>和 v-for</h4>
	<div id="app5">
		<input v-model="newTodoText" v-on:keyup.enter="addNewTodo" placeholder="Add a todo" 
		>
		<ul>
			<li is="todo-item" v-for="(todo,index) in todos" :title="todo" v-on:remove="todos.splice(index,1)"></li>
		</ul>
	</div>

	<h3>key</h3>
	<p>建议尽可能使用 v-for 来提供 key ，除非迭代 DOM 内容足够简单，或者你是故意要依赖于默认行为来获得性能提升。</p>

	<h3>数组更新检测</h3>

	<h4>变异方法</h4>
	<div>
		<p>变异方法：会改变被这些方法调用的原始数组</p>
		<p>push()、pop()、shift()、unshift()、splice()、sort()、reverse()</p>
	</div>

	<h4>重塑数组</h4>
	<div>
		<p>非变异方法：不会改变原始数组</p>
		<p>filter()、concat()、slice()</p>
	</div>

	<h4>注意事项</h4>
	<div>
		<p>由于JavaScript的限制，Vue不能检测以下变动的数组</p>
		<p>1.当你直接设置一个项的索引时</p>
		<p>1.当你修改数组的长度时</p>
	</div>

	<h4>显示过滤/排序结果</h4>
	<div id="app6">
		<ul>
			<li v-for="n in evenNumbers">{{n}}</li>
		</ul>
	</div>

	<script>
	var app1=new Vue({
		el:"#app1",
		data:{
			paramentMessage:"Parent",
			items:[
				{message:"Hello Vue!"},
				{message:"Hello Kaitlyn!"},
				{message:"Hello World!"}
			]
		}
	})
	var app2=new Vue({
		el:"#app2",
		data:{
			items:[
				{message:"Hello Vue!"},
				{message:"Hello Kaitlyn!"},
				{message:"Hello World!"}
			]
		}
	})
	var app3=new Vue({
		el:"#app3",
		data:{
			object:{
				name:"Zhang Guolu",
				age:22
			}
		}
	})
	var app4=new Vue({
		el:"#app4"
	})
	Vue.component("todo-item",{
		template:"<li>{{title}}<button @click='$emit(\"remove\")'>X</button></li>",
		props:["title"]
	})
	var app5=new Vue({
		el:"#app5",
		data:{
			newTodoText:"",
			todos:[
				"Do the dishes",
				"Do the dishes1",
				"Do the dishes2",
				"Do the dishes3",
			]
		},
		methods:{
			addNewTodo:function(){
				this.todos.push(this.newTodoText);
				this.newTodoText=""
			}
		}
	})
	var app6=new Vue({
		el:"#app6",
		data:{
			numbers:[1,2,3,4,5]
		},
		computed:{
			evenNumbers:function(){
				return this.numbers.filter(function(number){
					return number % 2 ===0
				})
			}
		}
	})

	</script>
</body>
</html>