<!DOCTYPE html>
<html>
<head>
	<title>介绍 - vue.js</title>
	<script src="../script/vue.js"></script>
</head>
<body>
	<h2><a href="http://cn.vuejs.org/v2/guide/index.html" target="_blank">介绍</a></h2>

	<h3>声明式渲染</h3>
	<h4>例一</h4>
	<div id="app">
		{{message}}
	</div>
	<h4>例二</h4>
	<div id="app-2">
		<span :title="data">
			Hover your mouse over me for a few seconds to see my dynamically bound title!
		</span>
	</div>

	<h3>条件</h3>
	<div id="app-3">
		<p v-if="seen">Now you see me</p>
	</div>

	<h3>循环</h3>
	<div id="app-4">
		<ol>
			<li v-for="todo in todos">
				{{todo.text}}
			</li>
		</ol>
	</div>

	<h3>处理用户输入</h3>
	<h4>例一</h4>
	<div id="app-5">
		<p>{{message}}</p>
		<button v-on:click="reverseMessage">Reverse Message</button>
	</div>
	<h4>例二</h4>
	<div id="app-6">
		<p>{{message}}</p>
		<input type="text" v-model="message">
	</div>

	<h3>用组件构建（应用）</h3>
	<div id="app-7">
		<ol>
			<todo-item v-for="todo in todos" v-bind:todo="todo"></todo-item>
		</ol>
	</div>

	<script>
		var app=new Vue({
			el:'#app',
			data:{
				message:'Hello Vue!'
			}
		});

		var app2=new Vue({
			el:'#app-2',
			data:{
				data:'You loaded this page on '+new Date()
			}
		});

		var app3=new Vue({
			el:'#app-3',
			data:{
				seen:true
			}
		});

		var app4=new Vue({
			el:"#app-4",
			data:{
				todos:[
				{text:'Learn JavaScript'},
				{text:'Learn Vue'},
				{text:'Build something awesome'},
				]
			}
		});

		var app5=new Vue({
			el:"#app-5",
			data:{
				message:'Hello Vue.js!'
			},
			methods:{
				reverseMessage:function(){
					this.message=this.message.split('').reverse().join('')
				}
			}
		});

		var app6=new Vue({
			el:"#app-6",
			data:{
				message:'Hello Vue'
			}
		});

		Vue.component('todo-item',{
			props:['todo'],
			template:'<li>todo.item</li>'
		});
		var app7=new Vue({
			el:"#app-7",
			data:{
				todos:[
				{text:'Learn JavaScript'},
				{text:'Learn Vue'},
				{text:'Build something awesome'},
				]
			}
		});
	</script>
</body>
</html>